<%= render partial: "shared/errors",
      locals: {errors: goal.errors.full_messages} %>

<% if goal.persisted? %>
<form action="<%= goal_url(goal) %>" method="post">

  <input type="hidden" name="_method" value="patch">
<% else %>
<form action="<%= goals_url %>" method="post">
<% end %>

  <%= auth_token %>

  <label for="goal_title">Title</label>
  <input id="goal_title" type="text" name="goal[title]"
   value="<%= goal.title %>">

  <% if goal.persisted? %>
  <label for="goal_completed_on">Completion Date</label>
  <input id="goal_completed_on" type="date" name="goal[completed_on]"
   value="<%= goal.completed_on %>">
  <% end %>

  <label for="goal_due_by">Due Date</label>
  <input id="goal_due_by" type="date" name="goal[due_by]"
   value="<%= goal.due_by %>">

  <label for="goal_public">Public</label>
  <input id="goal_public" type="radio" name="goal[public]"
   value="true"<%= 'checked="checked"' if goal.public %>>

  <label for="goal_private">Private</label>
  <input id="goal_private" type="radio" name="goal[public]"
   value="false"<%= 'checked="checked"' if goal.public == false %>>

   <label for="goal_description">Description</label>
   <textarea id="goal_description" name="goal[description]"><%= goal.description %></textarea>

   <label for="goal_progress">Progress</label>
   <textarea id="goal_progress" name="goal[progress]"><%= goal.progress %></textarea>

   <% if goal.persisted? %>
    <button>Edit Goal</button>
   <% else %>
    <button>Create Goal</button>
   <% end %>
</form>
