<% title "Goal Index" %>

<h1>All Goals</h1>

<h2>My Goals</h2>
<%= render partial: "shared/user_goals", locals: {goals: current_user.goals} %>

<a href="<%= new_goal_url %>">Add Goal</a>

<h2>Public Goals</h2>
<table>
  <tr>
    <th>User</th><th>Title</th><th>Status</th><th>Completion Date</th>
    <th>Due Date</th>
  </tr>

  <tbody>
    <% Goal.where("public = true").each do |goal| %>
    <tr>
      <td>
        <a href="<%= user_url(goal.user) %>"><%= goal.user.name %></a>
      </td>
      <td>
        <a href="<%= goal_url(goal) %>"><%= goal.title %></a>
      </td>
      <td>
        <%= goal_status(goal) %>
      </td>
      <td>
        <%= goal.completed_on %>
      </td>
      <td>
        <%= goal.due_by %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
