<% title "Goal Index" %>

<h1>All Goals</h1>

<h2>My Goals</h2>
<table>
  <tr>
    <th>Title</th><th>Status</th><th>Completion Date</th><th>Due Date</th>
  </tr>
  <tbody>
    <% current_user.goals.each do |goal| %>
    <tr>
      <td>
        <a href="edit_goal_url(goal)"><%= goal.title %></a>
      </td>
      <td>
        <%= goal_status(goal) %>
      </td>
      <td>
        <%= goal.completed_on %>
      </td>
      <td>
        <%= goal.due_by %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tr>
    <td>
      <a href="<%= new_goal_url %>">Add Goal</a>
    </td>
  </tr>
</table>
